*.log
wp-config.php
wp-config-sample.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

html/.htaccess
html/license.txt
html/readme.html
html/sitemap.xml
html/sitemap.xml.gz
